# General
.DS_Store
.vscode/
.idea/
*.log

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.pytest_cache/
backend/venv/
instance/

# Node / Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env.local
.env.*.local
frontend/dist/
frontend/node_modules/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini

backend/venv